body {
  background-color: #000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.header--main {
  color: #fff;
  font-size: 50px;
  font-weight: normal;
}

.link--cta {
  color: aquamarine;
  font-size: 16px;
}
